/* You can apply your own color! 
    --datepicker-highlight-bg-color is the hover state of dates, 
    --datepicker-text-color is the foreground color
    --datepicker-active-color is the highlight */
:root {
  --datepicker-highlight-bg-color: #1a1a18;
  --datepicker-text-color: #fff;
  --datepicker-active-color: #2cb08e;
  --datepicker-border-color: #444;
  --datepicker-bg-color: #000;

  --datepicker-text-size: 1rem;
}

.datepicker-dropdown {
  background-color: var(--datepicker-bg-color);
  color: var(--datepicker-text-color);
  border-radius: 8px !important;
  border: 2px solid var(--datepicker-border-color) !important;
  -webkit-box-shadow: 0px 48px 88px rgba(23, 9, 54, 0.08);
  box-shadow: 0px 48px 88px rgba(23, 9, 54, 0.08);
  box-sizing: border-box;
  font-size: var(--datepicker-text-size);
}

.datepicker-panel > ul[data-view="week"] > li {
  background-color: var(--datepicker-highlight-bg-color);
  color: var(--datepicker-text-color);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  height: initial;
  padding-top: 3px;
  margin-bottom: 4px;
}

.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: var(--datepicker-highlight-bg-color);
  color: var(--datepicker-text-color);
  border-radius: 0px;
}

.datepicker-panel > ul[data-view="week"] li:first-child {
  border-radius: 20px 0 0 20px;
}

.datepicker-panel > ul[data-view="week"] li:last-child {
  border-radius: 0 20px 20px 0;
}

.datepicker-top-left::before,
.datepicker-top-left::after {
  display: none;
}

.datepicker-panel > ul > li {
  color: var(--datepicker-text-color);
  background: var(--datepicker-bg-color);
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.highlighted,
.datepicker-panel > ul > li.picked:hover {
  color: var(--datepicker-active-color);
  background: var(--datepicker-highlight-bg-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--datepicker-text-size);
}

li[data-view="month current"],
li[data-view="year current"] {
  text-align: left;
  color: var(--datepicker-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: var(--datepicker-text-size);
  /* line-height: 24px; */
  padding-left: 15px;
  border-radius: 10px;
}

.datepicker-panel > ul > li:hover {
  background: var(--datepicker-highlight-bg-color);
  border-radius: 10px;
}

li[data-view="month current"],
li[data-view="year current"],
li[data-view="years current"] {
  margin-bottom: 4px !important;
}

@media screen and (min-width: 768px) {
  .datepicker-dropdown {
    width: 364px;
    padding: 12px;
  }

  .datepicker-panel > ul > li {
    width: 48px;
    height: 48px;
    padding-top: 10px;
  }

  li[data-view="month next"],
  li[data-view="year next"],
  li[data-view="years next"] {
    position: absolute;
    right: 18px;
  }

  li[data-view="month prev"],
  li[data-view="year prev"],
  li[data-view="years prev"] {
    position: absolute;
    right: 66px;
  }

  ul[data-view="months"] li,
  ul[data-view="years"] li {
    padding-top: 0px;
    width: 57px !important;
  }
}

@media screen and (max-width: 768px) {
  .datepicker-panel {
    transform: scale(0.97);
  }
}
